[Desktop Entry]
Name=GtkAtlantic
Comment=Monopoly game client
Comment[pl]=Klient gry Monopoly
Exec=gtkatlantic
Icon=gtkatlantic
Terminal=false
Type=Application
Categories=GTK;Game;BoardGame;
# vi: encoding=utf-8
